h1
{
  font-size: 2em;
}

h2
{
  font-size: 1.25em;
}

h3
{
  font-size: 1em;
}

h4
{
  font-size: 0.75em;
}

h5
{
  font-size: 0.5em;
}

hr
{
  border-style: dotted none none;
  background-color: inherit;
  border-color: #153600;
  border-width: 0.6em;
  width: 100px;
}
